:root {
  --container-color: rgb(81, 95, 81);
}

body {
  background-color: black; /*rgb(211, 193, 144);*/
  color: white;
  font-family: "Palatino Linotype"; /* 'Montserrat'; */
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center; /*space-between*/
  padding-left: 10px;
  padding-right: 10px;
  /* padding: 50px; */
  /* background-color: aquamarine; */
}

#nav-center {
  padding: 26px;
}

#nav-right {
  padding-top: 38px;
}

/* main */

.product-list-container .product-container {
  background-color: var(--container-color);
}

.product-list-container button {
  margin-top: 32px;
}

.product-container img {
  width: 200px;
}

.product-list-container .product-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product-list-container {
  width: 100%;
  margin: 20px 20px;
  /* padding: 20px 20px; */
}

/* main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px; 
}

.product-list-container .product-container {
  background-color: var(--container-color);
  padding: 30px;
}

.product-list-container button {
  margin-top: 36px;
}

.product-list-container {
  display: flex;
  justify-content: center;
  padding: 30px 0px;
}

.product-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 0px;
  margin: 0px;
  width: 200px;
}

.product-container .book-title {
  font-size: 18px;
  text-decoration: underline;
  color: white;
}

.product-container .book-author {
  color: rgb(156, 156, 156);
}

.product-container .book-author,
.book-price {
  font-size: 13px;
}

.product-list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
} */

/* footer */
footer {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* background-color: rgb(26, 83, 31); */
  /* margin-right: 600px;
    margin-left: 600px; */
}

footer p {
  /* text-decoration: none; */
  /* color: white; */
  padding: 0px;
  margin: 0;
}

a {
  text-decoration: underline;
  color: white;
}

a:visited {
  color: white;
  text-decoration: underline;
}
