#footer {
  background-color: rgb(81, 95, 81);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  /* border: 1px solid black; */
}

.footer-top {
  display: flex;
  justify-content: center;
  gap: 50px; /* espaço entre colunas */
  margin-bottom: 4px;
}

.coluna {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coluna p,
.coluna a {
  margin: 0px 0;
  color: white;
}

.footer-bottom h3 {
  text-align: center;
  margin: 0;
  padding: 0;
}
